@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;600;700&display=swap');
body {
    font-family: Encode Sans, sans-serif;
}

.header {
    margin-top: q 20px;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.g1 {
    color: #c4170c;
}

.oglobo {
    color: #1e4c9a;
}

.valor {
    color: #006767;
}

.ge {
    color: #1fb25a;
}

.cartola {
    color: #ff7400;
}

.globoplay {
    color: #fc355d;
}

.dropz {
    color: #c4170c;
}

.gshow {
    color: #ff6700;
}

.quem {
    color: #5c5c5c;
}

.receitas {
    color: #b74397;
}