@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@500;700;900&display=swap');
body {
    font-family: Encode Sans, sans-serif;
}

.container {
    flex-direction: column;
    display: flex;
    width: 1250px;
    height: 100vh;
    margin: 0 auto;
}

.content {
    flex-direction: column;
    display: flex;
    margin: auto;
}

.header {
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    height: 80px;
}

.header a {
    border-bottom: 1px solid #f5f6f7;
    width: 40px;
    height: 40px;
    margin: auto;
}

.logo {
    margin: 22px;
}